/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a76b8e;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #7596ac;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    overflow: hidden;
    /* Hide overflow text */
    white-space: nowrap;
    /* Prevent text from wrapping */
    text-overflow: ellipsis;
    /* Add ellipsis (...) if text overflows */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn:active {
    background-color: #ddd;
}